@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout.cshtml";
}

@section bodyClass { login }

@section body {
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-lg-12">
                <h1 class="page-headline">@Html.Translate("Welcome")</h1>
            </div>
            <div class="login-card-container">
                <div class="card">
                    <div class="pad">
                        <header>
                            <label class="card-title">@Html.Translate("Login")</label>
                            <i class="fa fa-lock"></i>
                        </header>
                        <div class="card-body">
                            <input id="username" type="text" class="uppercase" placeholder="@Html.Translate("Username")" />
                            <input id="password" type="password" class="uppercase" placeholder="@Html.Translate("Password")" />
                        </div>
                        <footer>
                            <div class="pull-right sign-up-box">
                                <small>@Html.Translate("Not an user?")</small>
                                <a href="#">@Html.Translate("Sign up").</a>
                            </div>
                            <a href="#" class="btn btn-primary"><i class="fa fa-play-circle"></i> <label>@Html.Translate("Connect")</label></a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section footer {
    <script src="~/Scripts/App/home_index.js"></script>   
}